
// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg


// header breytur
$header-text-color: #eeeeee;

// books breytur
$books-background-color: #cccccc;
$border-color: #999999;

// events breytur
$events-background-color: #cccccc;

// global breytur

$text-color: #222222;
$button-background-color: #222222;

$almost-white: #eeeeee;
$almost-black: #222222;
$light-gray:  #cccccc;
$dark-gray:  #999999;
