
// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg

// colors
$almost-white: #eee;
$almost-black: #222;
$light-gray: #ccc;
$dark-gray: #999;
$black: #000;

// grid breytur
$columns: 12;
$max-width: 1400px;

// mixins
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// fonts
$main-family: 'Open Sans', helvetica, arial, sans-serif;
$header-family: 'Montaga', georgia, serif;
$font-size: 16px;

// transition
$main-transition: 300ms ease-in-out;
