// Sækja config
@import './config';
// Allir stílar fyrir events

.events {
  margin-bottom: 2rem;

  .col {
    margin-bottom: 2rem;
  }

  .event {
    background-color: $light-gray;
    height: 100%;
    min-height: 250px;
    position: relative;
    width: 100%;
    word-break: break-word;
  }

  .event.face {
    backface-visibility: hidden;
    height: 100%;
    padding: 0.5rem;
    position: absolute;
    width: 100%;
  }

  .event.face.back {
    transform: rotateY(180deg);
  }

  .event.front {
    display: flex;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .event h3 {
    font-size: 2em;
    margin: auto;
    text-align: center;
  }

  .event.back {
    @include flex-column;

    height: 100%;
    justify-content: space-between;
  }

  .event.card {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
    transition: transform $main-transition;
  }

  .event:hover .card {
    transform: rotateY(180deg);
  }

  .event:last-child {
    margin-right: 0;
  }

  p {
    font-style: italic;
    margin-bottom: 1rem;
  }

  ul {
    font-style: italic;
    list-style: none;
  }
}
