// Sækja config

@import './config';

// Allir stílar fyrir "global", þ.e.a.s. type selectorar, reset etc

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

body {
  color: $almost-black;
  font-family: $main-family;
  font-size: $font-size;

  a {
    color: $almost-black;
  }
}

button {
  background-color: $almost-black;
  border: 1px solid $black;
  border-radius: 5px;
  color: $almost-white;
  padding: 0.5rem;
  transition:
    color $main-transition,
    background-color $main-transition;
  word-break: initial;

  &:hover {
    background-color: $almost-white;
    color: $almost-black;
  }

  &:active {
    background-color: $almost-black;
    border: 1px solid $black;
    color: $almost-white;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $header-family;
}
